<!DOCTYPE html>
<html>
<head>
  <title>Location</title>
  <%= stylesheet_link_tag    "location/application", media: "all" %>
  <%= javascript_include_tag "location/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
